@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  * {
    @apply border-border;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-tight font-medium text-brand-slate;
}

body {
  line-height: 1.5;
}